img {
  margin: auto;
  width: 25%;
  height: auto;
  border: 1rem solid;
  border-color: whitesmoke;
  float: right;
}

.name {
  height: auto;
  border: 1rem solid;
  border-color: whitesmoke;
  box-sizing: border-box;
  background-color: #31343a;
}

.name h1{
  font-family:fantasy;
  color: rgb(230, 137, 217); 
}

.name h3{
  font-family: 'Courier New', Courier, monospace;
  color: turquoise;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color:rgb(161, 250, 201);
  margin-left: 1vw;
}

body {
  border-color:mediumslateblue;
}

.box
{
  width: 40%;
  background-color: #31343a;
  border: 1rem solid;
  border-color:whitesmoke;
  box-sizing: border-box;
}

a 
{
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color:rgb(230, 137, 217);
}

a:visited
{
  color:slategray;
}

ul {
  list-style: "\01F984";
  padding-left: 2em;
}