img {
  margin: auto;
  width: 20%;
  height: auto;
  border: 1rem solid;
  border-color: whitesmoke;
  float: right;
  clear: right;
  box-sizing: border-box;
}

.name {
  height: auto;
  width: 80%;
  border: 1rem solid;
  border-color: whitesmoke;
  float: left;
  clear: left;
  box-sizing: border-box;
  background-color: #31343a
}

.name h1{
  font-family:fantasy;
  color: rgb(230, 137, 217); 
}

.name h3{
  font-family: 'Courier New', Courier, monospace;
  color: turquoise;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(161, 250, 201);
  margin-left: 1vw;
}

body {
  border-color: mediumslateblue;
}

.projects
{
  width: 80%;
  background-color: #31343a;
  border: 1rem solid;
  border-color: whitesmoke;
  float: left;
  clear: left;
  box-sizing: border-box;
}

.background
{
  width: 80%;
  background-color: #31343a;
  border: 1rem solid;
  border-color: whitesmoke;
  float: left;
  clear: left;
}

.boxright
{
  width: 35%;
  background-color: #31343a;
  border: 1rem solid;
  border-color: whitesmoke;
  float: right;
  clear: left
}

.box p {
  font-size:small;
  font-family:'Courier New', Courier, monospace;
  margin-left: 1em;
  color:thistle;
}

{
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  color:rgb(230, 137, 217);
}

a:visited
{
  color: slategray;
}

ul {
  list-style: "\01F984";
  padding-left: 2em;
}

ul span {
  margin-left:.5em;
}

.left{
  float: left;
  clear: left;
}

.right{
  float: right;
  clear: right;
  color: teal;  
}